
<div  class="container" >
<table  class="table" *ngIf="list" >
    <tr>
    <th>id</th>
    <th>title</th>
    <th>author</th>
  </tr>
    <div *ngFor="let item of list">


<tr>
<td>{{item.title}}</td>
<td>{{item.author}}</td>

</tr>
</div>
</table>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">id</th>
        <th scope="col">titre</th>
        <th scope="col">auteur</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of list">

      <tr>
        <th scope="row"></th>


            <td>{{item.title}}</td>
            <td>{{item.author}}</td>
      </tr>


    </tbody>
  </table>
</div>
